#body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

header a {
    color: #5B5858;
}

#sidebar {
    background-color: #0D253A;
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
}

#wrapper {
    height: 100%;
}

#sidebar a {
    text-decoration: none;
    color: white;
}

/* Debug */

/* * {
    border: 1px dashed black;
} */

/* /Debug */

#top_main {
    background-color: #1B72E8;
    color: white;
}

#all_main {
    overflow-y: auto;
}

#wrapper {
    height: calc(100vh - 68px);
}

#avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#btn-canvas {
    border: 1px solid white;
    color: white;
}

/* Responsive */

@media screen and (max-width: 992px) {

    #sidebar {
        width: 70px;
    }

}

/* /Responsive */
/* Animation */

#sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px 8px;
    border-radius: 8px;
}